@model PageViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.PageTitle</title>
    <meta property="og:site_name" content="Lawruk.com" />
    <meta property="og:title" content="@Model.PageTitle" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@Model.OpenGraphImageUrl" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="@Model.PageType.ToLower()">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">Lawruk.com</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        @if (Model.ShowPageTitle)
        {
            <h1>@Model.PageTitle</h1>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

</body>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2931615-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-2931615-2');
</script>

</html>
