@model RaceResultsViewModel

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="~/css/race-results.css" />

<table id="race-results" class="table table-bordered table-striped table-condensed tablesorter">
    <thead style="background-color:#999; cursor:pointer;">
        <tr>
            <th style="width:130px;">Date</th>
            <th>Title</th>
            <th>Distance</th>
            <th>City</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        @foreach (RaceViewModel race in Model.RaceResults)
        {
            <tr>
                <td>@race.DateTimeDisplay</td>
                <td><a href="@race.Url" target="_blank">@race.Title</a></td>
                <td>@race.Distance</td>
                <td>@race.City</td>
                <td>@race.State</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#race-results').DataTable({
            paging: false,
            "order": [[0, 'desc']]
        });
        let searchFilterElement = $("#race-results_filter input").get(0);
        searchFilterElement.classList.add("form-control");
        searchFilterElement.placeholder = "Search for a race title.";
    });
</script>