@using EngageNet.Mvc.Html;
@using lawrukmvc.Helpers;
<!DOCTYPE html>

<html>
<head>
    <title>@Html.Raw((!string.IsNullOrEmpty(ViewBag.HtmlTitle)) ? ViewBag.HtmlTitle : ViewBag.Title)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/content/site.css" rel="stylesheet" type="text/css" />
    @Html.Engage().LogOnLinkScript()
</head>
<body>
<div id="page-wrap" class="@ViewContext.RouteData.Values["Controller"].ToString().ToLower()-@ViewContext.RouteData.Values["Action"].ToString().ToLower()">

    <div class="navbar navbar-default navbar-inverse">
        <div class="container">
            <div class="navbar-inner">
            <div class="navbar-header">       
                <a class="navbar-brand" href="/">Lawruk.com</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">    
                
                @RazorHelpers.LiLink("/about","About")
                @RazorHelpers.LiLink("/news", "News")
                @RazorHelpers.LiLink("/metro", "Metro")
                @RazorHelpers.LiLink("/weather", "Weather")
                @RazorHelpers.LiLink("/blog", "Blog")        
                @RazorHelpers.LiLink("/videos", "Videos")
                  
                @if (!lawrukmvc.Helpers.Account.LoggedIn)
                {
                <li class="rpx">@Html.Engage().LogOnLink("Log In", "ProcessLogOn", "Account")</li>
                }
                else
                {
                <li class="rpx">@Html.ActionLink("Log Out " + Session["Name"].ToString(), "LogOff", "Account")</li>
                }        
                </ul>
            </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <h1>@ViewBag.Title</h1>        
            @RenderBody()       
            @RenderSection("right", required: false)
        </div>
    </div>

    @Html.Partial("GoogleAnalytics")
</div>
</body>
</html>



