@{
    Layout = null;    
}
@model lawrukmvc.ViewModels.HomeViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Lawruk.com</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <link href="/content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <meta name="google-site-verification" content="_SMyEer-s_dCJB5IUPmUJQDEmyaElJUh3ffhYSkgLtU" />    
</head>
<body>
    <div class="navbar navbar-default navbar-inverse">
        <div class="container">
            <div class="navbar-header">       
                <a class="navbar-brand" href="/">Lawruk.com</a>
            </div>
    </div>
</div>

<div class="container home">
    <div>
        <div class="row">            
            @foreach (var button in Model.HomeButtons)
            {
                <div class="col-lg-4">           
                    <a href="@button.Url" class="home-link">
					    <img src="@button.ImageUrl" class="nav-img" alt="@button.Description" role="presentation"/>
					    <span class="personaName">@button.Title</span>
					</a>
                </div>            
            }
        </div>
    </div>
</div>
</body>
@Html.Partial("GoogleAnalytics")
</html>