@model lawrukmvc.ViewModels.MetroViewModel
@{
    ViewBag.HtmlTitle = @Model.CurrentMetroStation.Title + " | DC Metro Realtime";
    ViewBag.Title = @Model.CurrentMetroStation.Title;
    ViewBag.BackTitle = "Metro";
    ViewBag.BackPath = "/metro";
}
<div class="row">    
    <div class="col-lg-2"></div>  
    <div class="col-lg-4">     
            <div class="metro-station"> 
            @Html.Raw(Model.CurrentMetroStation.Body)  
            </div>        
    </div>
     <div class="col-lg-1"></div>
     <div class="col-lg-4">         
            <div class="list-group">                
                @foreach (var metroStation in Model.SameLineStations)
                   { 
                <a href="/metro/@metroStation.Tag" class="list-group-item @Html.Raw((metroStation.Title == Model.CurrentMetroStation.Title) ? "active" : "")">@metroStation.Title</a>
                }                 
            </div>
            <h4 class="list-group-item-heading"><a href="/metro">Show All Stations</a></h4>
             <br />
            <p style="clear:both">Courtesy of <a href="http://www.wmata.com/rail/stations.cfm">wmata.com</a></p>
     </div>
    <div class="col-lg-1"></div>  
</div>
@section right
{

}